<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - BeautyStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مركز التجميل - غزّة</title>
    <link rel="stylesheet" href="~/css/Home.css" />
  </head>
<body>
     <header>
      <!-- القائمة المنسدلة وتسجيل وتسجيل دخول على اليسار -->
      <div class="left-section">
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <div class="left-links">
            @if (User.Identity.IsAuthenticated)
                   {

                      <form asp-controller="Account" asp-action="Logout" method="post">
                      <button type="submit" class="btn btn-link nav-link">تسجيل خروج</button>
                      </form>
                
                   }
            else
                   {

                       <a href="@Url.Action("Login","Account")">تسجيل دخول</a>
                       <a href="@Url.Action("Register","Account")">تسجيل جديد</a>
                   }

 
        </div>
      </div>

      <!-- الروابط في المنتصف -->
      <nav>
        <ul id="nav-menu">
          <li><a href="index.html">الصفحة الرئيسية</a></li>
          <li><a href="index.html#about">من نحنُ!</a></li>
          <li><a href=="@Url.Action("Index","Product")">مُـنتجاتنا</a></li>
          <li><a href="cart.html">سلّة المشتريات</a></li>
        </ul>
      </nav>

      <!-- اللوجو على اليمين -->
      <div class="logo">Beauty Center</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   <footer>
      <div class="footer-content">
        <p>:تواصل معنا</p>
        <div class="social-icons">
          <a href="https://www.instagram.com" target="_blank">
            <img src="~/Img/instagram.png" alt="Instagram" />
          </a>
          <a href="https://wa.me/رقم_الهاتف" target="_blank">
            <img src="~/Img/Whatsapp.png" alt="WhatsApp" />
          </a>
          <a href="https://www.facebook.com/اسم_الصفحة" target="_blank">
            <img src="~/Img/facebook.png" alt="Facebook" />
          </a>
        </div>
        <p>&copy; 2025 مركز التجميل. جميع الحقوق محفوظة</p>
      </div>
    </footer>
</body>
</html>
